[build-system]
requires = ["setuptools>=68", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "storm250"
version = "0.1.0"
dependencies = []

[tool.setuptools.packages.find]
where = ["."]

[tool.pytest.ini_options]
markers = [
    "network: tests that require network access"
]